In [6]:
import pandas as pd
df = pd.read_csv("../data_csv/changedis.csv")
df.info()
df.columns
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67698 entries, 0 to 67697
Data columns (total 100 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DATE_TIME                   67698 non-null  object
 1   PLANT_ID                    67698 non-null  int64
 2   SOURCE_KEY                  67698 non-null  object
 3   DC_POWER                    67698 non-null  float64
 4   AC_POWER                    67698 non-null  float64
 5   DAILY_YIELD                 67698 non-null  float64
 6   TOTAL_YIELD                 67698 non-null  float64
 7   AMBIENT_TEMPERATURE         67698 non-null  float64
 8   MODULE_TEMPERATURE          67698 non-null  float64
 9   IRRADIATION                 67698 non-null  float64
 10  time_interval               67698 non-null  float64
 11  battery_soc                 67698 non-null  float64
 12  battery_kwh                 67698 non-null  float64
 13  battery_percentage          67698 non-null  float64
 14  charge_power_kw             67698 non-null  float64
 15  discharge_power_kw          67698 non-null  float64
 16  load_served_kw              67698 non-null  float64
 17  load_deficit_kw             67698 non-null  float64
 18  is_charging                 67698 non-null  bool
 19  is_discharging              67698 non-null  bool
 20  is_full                     67698 non-null  bool
 21  is_critical                 67698 non-null  bool
 22  is_empty                    67698 non-null  bool
 23  load_not_served             67698 non-null  bool
 24  hour                        67698 non-null  int64
 25  minute                      67698 non-null  int64
 26  dayofweek                   67698 non-null  int64
 27  day                         67698 non-null  int64
 28  month                       67698 non-null  int64
 29  solar_hour_angle            67698 non-null  float64
 30  solar_elevation_proxy       67698 non-null  float64
 31  battery_soc_lag1            67698 non-null  float64
 32  charge_power_lag1           67698 non-null  float64
 33  discharge_power_lag1        67698 non-null  float64
 34  battery_soc_lag2            67698 non-null  float64
 35  charge_power_lag2           67698 non-null  float64
 36  discharge_power_lag2        67698 non-null  float64
 37  battery_soc_lag4            67698 non-null  float64
 38  charge_power_lag4           67698 non-null  float64
 39  discharge_power_lag4        67698 non-null  float64
 40  battery_soc_lag8            67698 non-null  float64
 41  charge_power_lag8           67698 non-null  float64
 42  discharge_power_lag8        67698 non-null  float64
 43  battery_soc_lag12           67698 non-null  float64
 44  charge_power_lag12          67698 non-null  float64
 45  discharge_power_lag12       67698 non-null  float64
 46  battery_soc_lag24           67698 non-null  float64
 47  charge_power_lag24          67698 non-null  float64
 48  discharge_power_lag24       67698 non-null  float64
 49  battery_soc_rollmean_4      67698 non-null  float64
 50  battery_soc_rollstd_4       67698 non-null  float64
 51  battery_soc_rollmin_4       67698 non-null  float64
 52  battery_soc_rollmax_4       67698 non-null  float64
 53  charge_events_4             67698 non-null  float64
 54  discharge_events_4          67698 non-null  float64
 55  avg_charge_power_4          67698 non-null  float64
 56  avg_discharge_power_4       67698 non-null  float64
 57  battery_soc_rollmean_8      67698 non-null  float64
 58  battery_soc_rollstd_8       67698 non-null  float64
 59  battery_soc_rollmin_8       67698 non-null  float64
 60  battery_soc_rollmax_8       67698 non-null  float64
 61  charge_events_8             67698 non-null  float64
 62  discharge_events_8          67698 non-null  float64
 63  avg_charge_power_8          67698 non-null  float64
 64  avg_discharge_power_8       67698 non-null  float64
 65  battery_soc_rollmean_16     67698 non-null  float64
 66  battery_soc_rollstd_16      67698 non-null  float64
 67  battery_soc_rollmin_16      67698 non-null  float64
 68  battery_soc_rollmax_16      67698 non-null  float64
 69  charge_events_16            67698 non-null  float64
 70  discharge_events_16         67698 non-null  float64
 71  avg_charge_power_16         67698 non-null  float64
 72  avg_discharge_power_16      67698 non-null  float64
 73  battery_soc_rollmean_32     67698 non-null  float64
 74  battery_soc_rollstd_32      67698 non-null  float64
 75  battery_soc_rollmin_32      67698 non-null  float64
 76  battery_soc_rollmax_32      67698 non-null  float64
 77  charge_events_32            67698 non-null  float64
 78  discharge_events_32         67698 non-null  float64
 79  avg_charge_power_32         67698 non-null  float64
 80  avg_discharge_power_32      67698 non-null  float64
 81  battery_soc_rollmean_96     67698 non-null  float64
 82  battery_soc_rollstd_96      67698 non-null  float64
 83  battery_soc_rollmin_96      67698 non-null  float64
 84  battery_soc_rollmax_96      67698 non-null  float64
 85  charge_events_96            67698 non-null  float64
 86  discharge_events_96         67698 non-null  float64
 87  avg_charge_power_96         67698 non-null  float64
 88  avg_discharge_power_96      67698 non-null  float64
 89  battery_soc_change_1h       67698 non-null  float64
 90  battery_soc_change_4h       67698 non-null  float64
 91  battery_soc_change_24h      67698 non-null  float64
 92  current_discharge_rate      67698 non-null  float64
 93  hours_until_empty           67698 non-null  float64
 94  irradiation_to_power_ratio  67698 non-null  float64
 95  Day_Dawn                    67698 non-null  bool
 96  Day_Morning                 67698 non-null  bool
 97  Day_Afternoon               67698 non-null  bool
 98  Day_Evening                 67698 non-null  bool
 99  Day_Night                   67698 non-null  bool
dtypes: bool(11), float64(81), int64(6), object(2)
memory usage: 46.7+ MB

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,...,battery_soc_change_4h,battery_soc_change_24h,current_discharge_rate,hours_until_empty,irradiation_to_power_ratio,Day_Dawn,Day_Morning,Day_Afternoon,Day_Evening,Day_Night
0,2020-05-15 00:00:00,4136001,4UPUqMRk7TRMgml,0.0,0.0,9425.0,2429011.0,27.004764,25.060789,0.0,...,0.0,0.0,0.0,1000.0,0.0,False,False,False,False,False
1,2020-05-15 00:00:00,4136001,xoJJ8DcxJEcupym,0.0,0.0,0.0,209143593.0,27.004764,25.060789,0.0,...,0.0,0.0,0.0,1000.0,0.0,False,False,False,False,False
2,2020-05-15 00:00:00,4136001,xMbIugepa2P7lBB,0.0,0.0,9166.0,106656621.0,27.004764,25.060789,0.0,...,0.0,0.0,0.0,1000.0,0.0,False,False,False,False,False

In [7]:
import pandas as pd
df = pd.read_csv("../data_csv/ev_battery.csv")
df.info()
df.columns
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   battery_id                 15000 non-null  object
 1   manufacturer               14315 non-null  object
 2   chemistry                  14256 non-null  object
 3   capacity_kWh               14268 non-null  float64
 4   charge_cycles              14311 non-null  float64
 5   avg_temp_celsius           14282 non-null  float64
 6   discharge_rate_c           14280 non-null  float64
 7   charge_rate_c              14289 non-null  float64
 8   avg_soc_percent            14241 non-null  float64
 9   storage_time_months        14259 non-null  float64
 10  fast_charge_ratio          14254 non-null  float64
 11  calendar_age_years         14203 non-null  float64
 12  capacity_retained_percent  14249 non-null  float64
dtypes: float64(10), object(3)
memory usage: 1.5+ MB

,battery_id,manufacturer,chemistry,capacity_kWh,charge_cycles,avg_temp_celsius,discharge_rate_c,charge_rate_c,avg_soc_percent,storage_time_months,fast_charge_ratio,calendar_age_years,capacity_retained_percent
0,BAT000001,Panasonic,NMC,65.54,1524.0,26.61,1.507,0.500,51.96,0.1,0.155,1.58,81.75
1,BAT000002,Samsung SDI,LFP,NaN,1072.0,16.82,0.850,0.927,80.76,11.0,0.466,3.44,81.93
2,BAT000003,BYD,LFP,99.99,807.0,6.27,0.751,1.232,74.73,3.5,0.058,0.23,89.75