### 스마트 미더 (AMI) 원천 데이터 확보 후 CSV 구조 확인. 이후에 데이터가 코에 1에 적합한지를 검증함

In [ ]:
import pandas as pd
df = pd.read_csv("../data_csv/런던계절별사용량.csv")

#### 컬럼 정리

In [51]:
df = df.rename(columns={"LCLid": "household_id", "DateTime": "timestamp", "KWHhh": "consumption"})

In [52]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

In [53]:
df = df[df["household_id"] == "MAC000001"].sort_values("timestamp")

#### 인덱스 컬럼은 필요 없어서 drop

In [54]:
df = df.drop(columns=["Index"])
df = df.drop(columns=["Tariff"])

#### timestamp column을 index 로 설정

In [55]:
df = df.set_index("timestamp")

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2013-03-01 00:00:00 to 2014-02-28 23:00:00
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   household_id  8760 non-null   object
 1   consumption   8760 non-null   float64
 2   Season        8760 non-null   object
dtypes: float64(1), object(2)
memory usage: 273.8+ KB

In [57]:
df.index

DatetimeIndex(['2013-03-01 00:00:00', '2013-03-01 01:00:00',
               '2013-03-01 02:00:00', '2013-03-01 03:00:00',
               '2013-03-01 04:00:00', '2013-03-01 05:00:00',
               '2013-03-01 06:00:00', '2013-03-01 07:00:00',
               '2013-03-01 08:00:00', '2013-03-01 09:00:00',
               ...
               '2014-02-28 14:00:00', '2014-02-28 15:00:00',
               '2014-02-28 16:00:00', '2014-02-28 17:00:00',
               '2014-02-28 18:00:00', '2014-02-28 19:00:00',
               '2014-02-28 20:00:00', '2014-02-28 21:00:00',
               '2014-02-28 22:00:00', '2014-02-28 23:00:00'],
              dtype='datetime64[ns]', name='timestamp', length=8760, freq=None)

#### 날씨csv와 합침

In [69]:
weather = pd.read_csv("./data_csv/런던날씨.csv")

In [70]:
weather["time"] = pd.to_datetime(weather["time"])
weather = weather.set_index("time")

In [73]:
df_merged = df.join(weather, how="left")

In [74]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2013-03-01 00:00:00 to 2014-02-28 23:00:00
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   household_id  8760 non-null   object
 1   consumption   8760 non-null   float64
 2   Season        8760 non-null   object
 3   temperature   8758 non-null   float64
 4   humidity      8758 non-null   float64
 5   windSpeed     8758 non-null   float64
dtypes: float64(4), object(2)
memory usage: 479.1+ KB

#### csv 파일 생성

In [75]:
df_merged.to_csv(".//data_csv/amiwea.csv")

In [76]:
df_merged.columns

Index(['household_id', 'consumption', 'Season', 'temperature', 'humidity',
       'windSpeed'],
      dtype='object')